
<footer class="foot">
    
            <div class="f1">
                    <ul>
                        <li><h3>Feature</h3></li>
                        <li>Clouds</li>
                        <li>Fables</li>
                        <li>Flakes</li>
                        <li>Trends</li>
                    </ul>       
            </div>

            <div class="f2">
                <ul>
                    <li>Learn More</li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Security</a></li>
                </ul>
        </div>    

        <div class="f3">
            <h4>© 2024 Articles. All Rights Reserved.
                Privacy Policy Legal</h4>
                <a href="https://accounts.google.com/InteractiveLogin/signinchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&ifkv=ARpgrqfLX4BMrWADHBMIzhPA_HXtawjLFfKtNNd9yK8X0p7vdz1hgkjeHKv_VDgwjFtvyFT-kE3tQw&ddm=0&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><h5>article@karnataka.com</h5></a>
            </div>
           
        
        <div class="f4">
            <ul>
                <li><a href="https://www.instagram.com/"><img src='{{"../static/images/f1.png"}}' alt="" ></a></li>
                <li><a href="https://www.facebook.com/"><img src='{{"../static/images/f2.png"}}' alt=""></a></li>
                <li><a href="https://x.com/"><img src='{{"../static/images/f3.png"}}' alt=""></a></li>
                <li><a href="https://www.youtube.com/"><img src='{{"../static/images/f4.png"}}' alt=""></a></li>
            </ul>
                <a href="https://play.google.com/store/games?device=windows"><img src="{{'../static/images/black.jpeg'}}" alt="" class="garuda"></a>
                <a href="https://www.google.co.in/maps/@13.0243305,77.4753574,21z?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D"><img src="{{'../static/images/location.jpeg'}}" alt="" class="rocky"></a>
                <a href=""><img src="{{'../static/images/HELP.jpeg'}}" alt="" class="kgf"></a>
        </div>
</footer>
