<header class="p2" style="height: 100px;width: 100%;background-color:purple;">
    
    
    <div class="logo">
        <img src='{{"../static/images/logo2.jpeg"}}' alt="">
    </div>
    <h1 class="m1">Articles</h1>

    <div class="logo1">
        <ul>
            <li><a href="{% url 'home' %}"style="font-size:18px;">Menu</a></li>
            <li><a href="{% url 'abt' %}"style="font-size:18px;">About us</a></li>
            <li><a href="{% url 'con' %}"style="font-size:18px;">Contact us</a></li>
            <li><a href="{% url 'help' %}"style="font-size:18px;">Donate us</a></li>
            <li><button id="moon">'🌙'</button></li>
        </ul>
    </div>
    
</header>